.container-fluid {
    background-color: #28536B;
    color: #F6F0ED;
    padding: 20px;
}
a {
    color: #bbb193;
}
section {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
.nav h3 {
    margin-right: 900px;
}
.nav a {
    margin-right: 20px;
}
p, a, input {
    margin-bottom: 10px;
}
#quotes hr {
    height: 15px;
    color: #92B4A7;
}